:root {
    --top-nav-height:min(max(8vh, 4vw), 250px);
    --bottom-nav-height:16vh;

    --evolution-circle-size:min(6vw, 50px);
  }

.nav-bar{
    position:fixed;
    width:100vw;

    background-color: var(--primary-dark-color);

    z-index: 300;
}

/* multiple type of showing*/
/*
.focus{
    border-color:#ffffffff;
    
    background-color: var(--primary-colorful-color);
}
.not-focus{
    background-color: var(--primary-dark-color);
}

.uncharted{
    border-color:var(--second-light-color);
    background-color: var(--primary-light-color);
}

.past{
    border-color:var(--primary-dark-color);
    background-color: var(--primary-light-color);
}


.bottom-nav-bar{
    bottom:0vh;

    background-color: var(--primary-light-color);

    z-index: 100;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}


.evolution-line-container{
    position:fixed;

    bottom:11vh;

    height: 5vh;
    width:100vw;

    background-color: var(--primary-light-color);
}


.ends-evolution-line{
    position:fixed;
    bottom: 8vh;

    width: 100vw;
    height: 9vh;
    box-sizing: border-box;

    border:4vh solid var(--primary-light-color);
}

.evolution-circle-container {
    bottom:11vh;

    width: 98vw;

    margin:auto 1vw;

    box-sizing: border-box;

}


.evolution-circle {

    width:var(--evolution-circle-size);
    height:var(--evolution-circle-size);

    border-width:3pt;
    border-style:solid;
    border-radius:100%;

    z-index:150;
}

.evolution-line{
    position:fixed;
    bottom:-1vh;
    left: -1vh;

    width:110vw;
    height:13vh;

    border: 1.1vw dotted var(--primary-dark-color);
}
.op

.icon-container{
    margin:auto 2vw;

    width: 96vw;
    height:11vh;

    background-color: var(--primary-light-color);
}

.icon{
    max-width:9vw;
    flex-grow:1;

    z-index:150;

}*  */