/*background and screen*/
.gallery-screen{
    background-color: var(--primary-light-color);
    z-index:50;
}

/*header*/
.gallery-header{
    height: 15%;
}

.house-draft-container{
    position:absolute;
    top:1vh;
    bottom:1vh;
    right:3vw;

    height: 50%;
    width:  50vw;
}

/* photos section*/
.photos-container{
    position:relative;
    margin-top:0.5vh;
    box-sizing: border-box;

    width:100vw;
    height: 70%;

    vertical-align:top;
}


/*buttons section*/
.room-buttons-container{
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    max-height:80%;
}

.room-button-container{
    position: relative;
    flex:0 0 auto;
    margin:1vh 1vw;
    height: max-content;
    cursor:pointer;
}

.room-button-container *{
    position:absolute;
    inset:0;
    border-radius: 4px;
}

.room-button-container .photo{
    position:relative;

    max-width:17vw;
    max-height: min(18vw, 8vh);

    object-fit: contain;

    box-shadow: rgba(0, 0, 0, 0.5) 0.4px 1px 3px;
}
    
.room-button-container p{
    margin:auto;
    width:fit-content;
    height: fit-content;
    font-size:min(3vw, 2.4vh);
    font-family: primary-semibold;
    color:var(--primary-grey-color)
}
.button-mask{
    width:auto;
    height: auto;
    background-color: var(--white-mask-color);
}


.selected .button-mask{
    animation: desappear 700ms ease-out;
    opacity: 0;
}
.selected p{
    width:auto;
    letter-spacing: 0.3vw;
    border-radius: 0;
    background-color: var(--white-mask-color);
    color:var(--primary-dark-color);

    animation: select-text 400ms ease-out;
}



/*main image*/
.main-photo-container{
    position:relative;
    margin:auto;
    width: 100vw;
    height: 78%;
}
.main-photo-container img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    object-position: 50% 50%;
    filter: saturate(145%);
    filter: brightness(125%);
}

/*change main photo*/
.change-photo-container{
    position:absolute;
    inset: 0;
    height: 100%;

    justify-content: space-between;
}
.change-photo-container .button{
    width:6vw;
    height:100%;
    display:inline-block;
    padding-top:0;
    padding-bottom:0;

    background-color: var(--light-white-mask-color);

    border:none;
    border-radius: 0;
}
.change-photo-container p{
    position:absolute;
    inset: 0 0;
    margin:auto;

    height: min-content;

    font-family: primary-semibold;
    font-size: 6vh;
}
.gallery-screen .next-button{
    position: absolute;
    right:0;
    margin:1vh 4vw;
    padding:1vh 8vw;
}
.next-button p{
    margin:0;
}

@media only screen and (min-width: 700px){

    .main-photo-container{
        display:inline-block;
        height: 80%;
        width:60%;
    }
    .main-photo-container{
        max-height: 100%;
    }
    .room-buttons-container{
        display:inline-block;
        justify-content: right;
        margin:2vh 5vw auto auto;
    }
    .room-button-container .photo{
        max-height: 9vh;
        max-width:10vw;
    }
    .room-button-container{
        display:grid;
        grid-template-columns: 1vw auto [start-text] 13vw [end-text] 1vw [start-image] 9vw [end-image] 2vw ;
    }

    .room-button-container *{
        grid-column: start-image / end-image;
    }
    .room-button-container p{
        grid-column: start-text / end-text;
    }
}

