/*background and screen*/
.gallery-screen{
    background-color: var(--primary-light-color);
    z-index:50;
}

/*header*/
.gallery-header{
    height: 15vh;
}

.house-draft-container{
    position:absolute;
    top:1vh;
    bottom:1vh;
    right:3vw;

    height: 50%;
    width:  50vw;
}

/* photos section*/
.photos-container{
    position:relative;
    margin-top:5vh;
    box-sizing: border-box;

    width:100vw;
    height: 60%;
}

.photos-container *{
    margin:4pt;

    width:100px;
}