@keyframes frontal-img-appear-x{
    from{
        transform:translateX(-100%);
        opacity:0.2;
    }
    to{
        transform:translateX(0%);
        opacity:1;
    }
}
@keyframes frontal-img-desappear-x{
    from{
        transform:translateX(0%);
    }
    to{
        transform:translateX(100%);
        opacity:0;
    }
}
@keyframes frontal-img-appear-y{
    from{
        transform:translateY(-100%);
        opacity:0.2;
    }
    to{
        transform:translateY(0%);
        opacity:1;
    }
}
@keyframes frontal-img-desappear-y{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(100%);
        opacity:0;
    }
}
.screen-front{
    position: relative;

    background-color: var(--primary-light-color);
}

/*main image*/
.screen-front{
    z-index:0;
}

.front-image-container{
    position:relative;

    height:40%;
    background-color: var(--white-mask-color);
}
.front-image-container img{
    position: absolute;
    top:0;
    left:0;

    width:100vw;
    height:100%;

    min-width:100vw;

    object-fit: cover;
    object-position: 70% 80%;
}
/* main Images*/
.new-front-image{
    animation:frontal-img-appear-x 1.2s ease-in;
    z-index:40;
}
.last-front-image{
    animation:frontal-img-desappear-x 1.2s ease-in;
    z-index:20;
}

/*the info panel*/

.front-info-container{
    position: relative;
    height: 58%;
}

/*title*/
h1{
    position:relative;
    margin:3% auto 0;

    width:100%;
    padding:min(1vw,1vh);

    font-size:min(max(2.8vw, 3vh), 30px);
    
    letter-spacing: 2pt;
    font-family:title-test;

    z-index:80;
}

/* small description*/
.small-info-panel{
    margin-top:3%;
}
.graphic-info{
    background-color:  var(--second-light-color);
    border-radius: 0.25rem;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.1);

}
.graphic-info, .other-info{
    margin:auto 2vw 0 2vw;
    display:flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: nowrap;
}
.each-container-info{
    flex:1 0 24%;
    flex-wrap: nowrap;
    min-width:26%;
    margin:0.5vh auto;
}
.other-info div{
    flex:1 0 40%;
    flex-direction: column-reverse;
}
.front-info-container .icon{
    width:auto;
    height: auto;
    max-height: max(5vh, 4vw);
    max-width:max(7vw, 6vh);
}
.front-info-container p{
    margin:0 auto min(3vh,1.5vw) auto;
    margin:0;
    font-size:1.8vh;
}

.price-container h2, .price-container img{
    display:inline;
    font-size: 3.5vh;
}

.price-container .icon{
    width:max(1.5vw, 2vh);
    max-width: 3vh;

    max-height: none;
    height: auto;
}

.price-container p{
    margin-top:0vw;

    font-size: 1.5vh;

}

/*buttons*/
.buttons-container{
    position:absolute;
    inset:auto 0 0 auto;
    margin:auto 10% 3%;
    display:grid;
    grid-template-columns: 
        2vw [start-first-button] 45vw [end-first-button] 2vw
        [start-second-button] 35vw auto [end-second-button] 2vw;
        grid-template-rows: [first] auto [end];
    justify-content: center;
    align-items: center;
    max-width:300px;
}
.buttons-container *{
    margin:auto 1vw;
    position:absolute;
    inset: 0;

    width:auto;
    height: min-content;
    justify-content: center;
}

.buttons-container div{
    position:relative;
    margin:auto 1vw;
    width:auto;
    min-height:4vh;
}
.buttons-container p{
    margin:auto;
}

.other-button{
    grid-column: start-first-button / end-first-button;
    grid-row: auto;
    display:flex;
    justify-content: center;
}
.other-button *{
    position:relative;
    flex:auto 0 20%;
}
.other-button .icon{
    max-height: 5vh;
}

.next-button{
    grid-column: start-second-button / end-second-button;
    grid-row:first / end;
}
.screen-front .next-button p{
    position:absolute;
    inset:1vh 0 auto;
    font-size:2.5vh;
}


/* .screen1{
    background: var(--primary-light-color);
    z-index: 0;
}

.main_title{
    position:absolute;
    right:0px;
    left:4vh;
    top:0px;

    margin:auto;
    margin-top: 5vh;

    width:65vw;
    height:auto;

    z-index: 90;
}


.main-image-container{
    width: 100vw;
}

.img_fondo_galeria{
    position:relative;
    left:0px;
    right: 0px;

    margin: 2vw;

    width:96vw;
    height:75vh;

    object-fit: cover;
    filter: saturate(140%);
    filter: brightness(110%);

    z-index:20;
}
/*to make the shape of the photo
.image-cut{
    position: absolute;
    left: 0px;
    top: 72vh;
    transform: rotate(6deg);

    width: 150vw;
    height: 10vh;

    background-color:  var(--primary-light-color);

    z-index: 40;
}

p{
    font-family: MPLUS1Normal,sans-serif;
    font-size: 16px;
    max-width: 75vw;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    position:absolute;
    bottom:0;
    margin-bottom:20vh;
} */








@media only screen and (max-width: 500px){
    /* h1{
        padding:0 1vw 1vh 0vw;
        border:0.8vw solid var(--primary-dark-color);
        border-left-color:#ffffff00;
        border-top-color:#ffffff00;
    } */
    h1{
        max-width:80vw;
    }
}
@media only screen and (min-width: 700px){
    .front-image-container{
        width:70vw;
        margin-right: 0;
        margin-left:auto;
    }
    .front-image-container img{
        right:0;
        height:calc(100vh - var(--top-nav-height));
        min-width:70vw;
        width:70vw;
    }
    .front-info-container{
        position:absolute;
        top:2vh;
        left:0;
        right:71vw;
        
        width:27vw;
        height: 90%;
        margin:auto;

    }

    .small-description-container{
        margin-top:-2vh;
    }
    .graphic-info {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .each-container-info{
        flex:1 0 90%;
        max-height: none;
        margin-bottom:2vh;
    }
    .new-front-image{
        animation:frontal-img-appear-y 1.2s ease-in;
        z-index:40;
    }
    .last-front-image{
        animation:frontal-img-desappear-y 1.2s ease-in;
        z-index:20;
    }

    .graphic-info .icon{
        width:auto;
        height: auto;
        max-height: 5vh;
        max-width:4vw;
    }

    .buttons-container{
        position:relative;
        margin:5vh auto;
        grid-template-columns: 
        [start-button] 80% [end-button];

        grid-template-rows: [start-first-button] auto [end-first-button] 1vh
        [start-second-button] auto [end-second-button] 2vw;
        justify-content: center;
        
    }
    .buttons-container div{
        height: min-content;
        min-height:5vh;
    }
    .next-button{
        grid-column:start-button / end-button;
        grid-row: start-first-button /end-first-button;
    }
    .other-button{
        grid-column:start-button / end-button;
        grid-row: start-second-button /end-second-button;
    }
    .buttons-container .icon{
        flex:0;
    }

}