:root {
  --primary-dark-color : #012E40;
  --second-dark-color: #025159;

  --primary-light-color: #fcffff;
  --second-light-color: #ADB9CA;


  --primary-colorful-color: #D65B10;
  --primary-colorful-color-transparent: rgba(214, 92, 16, 0.616);
  --second-colorful-color: #038C8C;
  --third-colorful-color: #03A696;

  --white-mask-color:#ffffff9c;
  

  /*--nav-bar-height: 16vh;*/
  --screen-header: 23vh;

  overflow-x: hidden;
}

/*fonts*/
@font-face { font-family: MPLUS1Light; src: url('./fonts/MPLUS1/MPLUS1-Thin.ttf') }
@font-face { font-family: MPLUS1; src: url('./fonts/MPLUS1/MPLUS1-ExtraLight.ttf') }
@font-face { font-family: MPLUS1Normal; src: url('./fonts/MPLUS1/MPLUS1-Light.ttf') }
@font-face { font-family: MPLUS1Bold; src: url('./fonts/MPLUS1/MPLUS1-Bold.ttf') }
@font-face { font-family: MPLUS1SemiBold; src: url('./fonts/MPLUS1/MPLUS1-SemiBold.ttf') }

@font-face { font-family: GrotesqueLight; src: url('./fonts/DarkerGrotesque/DarkerGrotesque-Light.ttf') }



html, body, .app {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.parallax-container{
  background-color: rgba(255, 0, 0, 0);
  border: 5px solid red;
  width:100vw;
  height: 300vh;
  box-sizing: content-box;

  position: absolute;
  z-index:100;
  top:var(--nav-bar-height);
}

.header{
  position:relative;
  top:0vh;
  left:0vh;

  height:23vh;
  width:100vw;

  z-index: 90;
}

.header h2 {
  position:absolute;
  bottom: 1.5vh;
  left:7vw;
  margin:0px;

  height:fit-content;
  width:fit-content;

  font-family: MPLUS1Normal, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vh;
  max-width: 75vw;
  margin:0;

  color: var(--primary-dark-color);
}

.header-division-line {
  position:absolute;
  bottom: -0.2vh;
  left:-2vw;

  height:0.2vh;
  width:110vw;

  background-color: var(--primary-dark-color);


}

/* general */
.flex-box{
  display:flex;
  justify-content: center;
}

.flex-item{
  flex-grow:1;
}

.App-link {
  color: #61dafb;
}

.centered-div{
  left:0;
  right:0;
  margin:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.size-small{
  display: none;
}


/* Different css options */
.hide {
  display:none;
}

@media only screen and (max-width: 500px){
  .size-normal{
      display: none;
  }
  .size-small{
      display: inline-block;
  }
}
@media only screen and (min-width: 900px){

}