:root {
  --primary-dark-color : #081624;
  --primary-light-color: #fcffff;
  --primary-colorful-color: #23BA51;
  --second-colorful-color: #CF8755;
  --second-dark-color: #246661;

  --nav-bar-height: 70px;

  overflow-x: hidden;
}

/*fonts*/
@font-face { font-family: MPLUS1Light; src: url('./fonts/MPLUS1/MPLUS1-Thin.ttf') }
@font-face { font-family: MPLUS1; src: url('./fonts/MPLUS1/MPLUS1-ExtraLight.ttf') }
@font-face { font-family: MPLUS1Normal; src: url('./fonts/MPLUS1/MPLUS1-Light.ttf') }


html, body, .app {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.parallax-container{
  background-color: rgba(255, 0, 0, 0);
  border: 5px solid red;
  width:100vw;
  height: 300vh;
  box-sizing: content-box;

  position: absolute;
  z-index:100;
  top:var(--nav-bar-height);
}

.App-link {
  color: #61dafb;
}

.centered-div{
  left:0;
  right:0;
  margin:auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.size-small{
  display: none;
}
@media only screen and (max-width: 500px){
  .size-normal{
      display: none;
  }
  .size-small{
      display: inline-block;
  }
}
@media only screen and (min-width: 900px){

}