.calendar-header{
    height:10vh;

    margin-bottom:4vh;
}
.week-day-header{
    position:relative;

    top: 8vh;
    left:0;

    margin:5vw;
    margin-top:2vh;
    margin-bottom:0vh;
    
    width:92vw;
    height:5vh;
    padding:2vh 1vw 2vh 0;
    box-sizing: border-box;

    display:flex;
    flex-wrap: wrap;

    justify-content:first baseline;
}
.week-day-cell{
    position:relative;

    box-sizing: border-box;

    height: auto;
    flex: 1 0 13%;

    color:var(--primary-dark-color);

    border:2px solid var(--primary-dark-color);
}

.calendar-container{
    position:relative;

    top: 8vh;
    left:0;

    margin:2vh auto 0 auto;
    
    width:92vw;
    height:fit-content;
    box-sizing: border-box;

    border:2px solid var(--primary-dark-color);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    background-color: var(--primary-dark-color);

    display:flex;
    flex-wrap: wrap;

    justify-content:first baseline;
}

.day-container{
    position:relative;

    box-sizing: border-box;

    height: 7vh;
    flex: 1 0 13%;

    color:var(--primary-dark-color);

    border:2px solid var(--primary-dark-color);
    background-color: var(--primary-light-color);
}

.day-header{
    height: 50%;
}

.day-body{
    height: 50%;

    font-family: MPLUS1SemiBold;
    font-size:small;
}



.calendar-container .ocupado{
    border:2px solid var(--primary-light-color);
    background-color: var(--primary-dark-color);
}

.señalado{
    background-color: var(--primary-colorful-color);
    
}

.calendar-container .ocupado .day-header{
    color:var(--primary-light-color);
}


.calendar-container .incoming{
    visibility: hidden;
}

.calendar-container .not-visible{
    visibility: hidden;
}

/* Change the color of the cell depending on the day*/
.calendar-container .today{
    border-radius: 20%;
    border:2pt solid var(--primary-colorful-color);
}

/* price box*/
.total-price-container{
    position:absolute;
    bottom:5vh;

    width:100%;
    
    display:flex;
    justify-content: center;
    align-items: center;

    font-family: MPLUS1SemiBold;
    font-size: large;
    color:var(--primary-dark-color);
}
.total-price{

    max-width: 35%;
    height: fit-content;

    padding-bottom: 0.5vh;
    border:1pt solid #00000000;
    border-bottom-color:var(--primary-dark-color);
    transition: 3s;
}

.next-step-buttom{
    margin-left:5vw;
    max-width: 20%;
    padding: 1vh 2vh;

    font-family: MPLUS1Bold;
    font-size: small;

    border:1pt solid var(--primary-dark-color);

    animation:append-from-left 0.6s ease-out;
    
}


.range-completed{
    animation:add-right-element 0.6s ease-out;
}

.range-not-completed{
    
}



