.calendar-header{
    height:10vh;

    margin-bottom:4vh;
}
.week-day-header{
    position:relative;

    top: 8vh;
    left:0;

    margin:5vw;
    margin-top:2vh;
    margin-bottom:0vh;
    
    width:92vw;
    height:5vh;
    padding:2vh 1vw 2vh 0;
    box-sizing: border-box;

    display:flex;
    flex-wrap: wrap;

    justify-content:first baseline;
}
.week-day-cell{
    position:relative;

    box-sizing: border-box;

    height: auto;
    flex: 1 0 13%;

    color:var(--primary-dark-color);

    border:2px solid var(--primary-dark-color);
}

.calendar-container{
    position:relative;

    top: 8vh;
    left:0;

    margin:5vw;
    margin-top:0vh;
    margin-bottom:3vh;
    
    width:92vw;
    height:40vh;
    padding:2vh 1vw 2vh 0;
    box-sizing: border-box;

    display:flex;
    flex-wrap: wrap;

    justify-content:first baseline;
}

.day-container{
    position:relative;

    box-sizing: border-box;

    height: auto;
    flex: 1 0 13%;

    color:var(--primary-dark-color);

    border:2px solid var(--primary-dark-color);
}

.day-header{
    height: 50%;
}

.day-body{
    height: 50%;

    font-family: MPLUS1SemiBold;
    font-size:small;
}

/* Change the color of the cell depending on the day*/
.calendar-container .today{
    border:3pt solid var(--primary-colorful-color);
}

.calendar-container .ocupado{
    background-color: var(--primary-dark-color);
}

.señalado{
    background-color: var(--primary-colorful-color-transparent);
    
}

.calendar-container .ocupado .day-header{
    color:var(--primary-light-color);
}



.calendar-container .incoming{
    visibility: hidden;
}

.calendar-container .not-visible{
    visibility: hidden;
}


/* price box*/
.total-price-container{
    position:relative;
    left:5vw;
    top:13vh;

    width:100%;
    
    display:flex;
    justify-content: center;
    align-items: center;

    font-family: MPLUS1SemiBold;
    font-size: large;
    color:var(--primary-dark-color);
}
.total-price{

    max-width: 35%;
    height: fit-content;

    padding-bottom: 0.5vh;
    border:1pt solid #00000000;
    border-bottom-color:var(--primary-dark-color);
}

.next-step-buttom{
    margin-left:5vw;
    max-width: 20%;
    padding: 1vh 2vh;

    font-family: MPLUS1Bold;
    font-size: small;

    border:1pt solid var(--primary-dark-color);
}

