.location-header{
    height: 12%;
}

.map-responsive{
    margin:auto;

    height:50%;
    width:100vw;
}

.map-responsive iframe{
    margin:auto;
    height: 100%;
    width: 100%;
}

.location-info-container{
    position:relative;
    margin:2vh 6vw;
    padding:1.5vh 5vw;

    justify-content: left;

    border-left: 2pt solid var(--primary-dark-color);
    background-color: var(--primary-light-color);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.location-info-container *{
    position:relative;
    margin:0;

    width:fit-content;
}
.location-info-container h3{
    font-size: small;
}

.location-info-container p{
    margin-top:1vh;

    font-size:small;
    text-align: left;
}

.location-screen .process-buttons-container{
    position:absolute;
    inset:auto min(3vw,3vh) min(3vw,3vh) auto;
    margin:auto;
    
    width:fit-content;
}

@media only screen and (min-width: 700px){
    .map-responsive{
        margin:auto;
    
        height:60%;
        width:100vw;
    }
}